@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
}

.btn-like {
    height: 35px;
    width: 60px;
    color: black;
    background-color: #e1bc27;
    border: none;
    font-size: 16px;
    box-shadow: 5px 5px #000000;
}


.main {
    display: flex;
    height: 1000px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    gap: 20px;
    /* background-color: blue; */
}

.col-1 {
    flex: 2;
    /* background-color: yellow; */
}

.col-2 {
    flex: 1;
    /* background-color: green; */
}

.box {
    border: 2px grey solid;
    /* height: 400px; */
    background-color: white;
    margin-bottom: 5px;
    padding: 20px;
}

.text {
       margin-top: 20px;
       text-align: center;
}

.user1 {
   display: flex;
   list-style: none;
   justify-content: space-evenly;
}


